div(class="panel panel-default col-md-4")
  div(class="panel-body")
    p topic
      input(type="text" ng-model="noteController.topic" style="width: 100%")
    p question:
      table(class="table")
        tr(ng-repeat="msg in noteController.questions track by $index" class="bg-warning")
          td(class="col-md-1") {{msg.formatted}}
          td(class="col-md-2") {{msg.author}}
          td(class="col-md-5") {{msg.msg}}
    p answer:
      table(class="table")
        tr(ng-repeat="msg in noteController.answers track by $index" class="bg-primary")
          td(class="col-md-1") {{msg.formatted}}
          td(class="col-md-2") {{msg.author}}
          td(class="col-md-5") {{msg.msg}}

    button(class="btn btn-default" ng-click="noteController.publish()")
      | publish
