div(class="container" style="min-width: 600px")
  div
    nav(class="navbar navbar-static-top navbar-inverse")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="#/about")
            span(class="glyphicon glyphicon-home")
              |&nbsp;Statistics

  h2
    | Today
  br
  div(class="col-md-8")
    div(id="day-chart")
  div(class="col-md-4")
    div(id="day-chart-pie")
  div(class="clearfix")

  br
  br

  h2
    | This week
  br
  div(class="col-md-8")
    div(id="week-chart")
  div(class="col-md-4")
    div(id="week-chart-pie")
  div(class="clearfix")

  br
  br

  h2
    | This month
  br
  div(class="col-md-8")
    div(id="month-chart")
  div(class="col-md-4")
    div(id="month-chart-pie")
  div(class="clearfix")




